@font-face {
  font-family: 'Avanti';
  src: local('Avanti'), url('./fonts/AvantiBold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Futura';
  src: url('./fonts/FuturaPT-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Futura';
  src: url('./fonts/FuturaPT-Book.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Futura';
  src: url('./fonts/FuturaPT-Light.woff') format('woff');
  font-weight: 200;
}

aside.emoji-picker-react {
  background-color: #282c34 !important;
  border: 1px solid #232c34 !important;
  box-shadow: 0 5px 10px #232c34 !important;
}

.emoji-group::before {
  background-color: #282c34 !important;
}

.emoji-search {
  background-color: #282c34 !important;
  border: 1px solid #aaa !important;
  color: #aaa !important;
  font-family: Futura !important;
}
